header {
  overflow: hidden; }
  header div {
    float: left;
    margin: 0 1em;
    height: 2em;
    line-height: 2em;
    font-family: sans-serif; }

.backgroundpic {
  background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/responsive-site/blob/master/background.jpg?raw=true");
  background-color: grey;
  background-size: cover;
  padding: 4.375em 0;
  margin-bottom: 2em;
  color: white; }
  .backgroundpic > div {
    text-align: center;
    font-size: 1.75em;
    font-family: sans-serif; }
    .backgroundpic > div p {
      margin: 0; }

.personal {
  text-align: center;
  padding: 1.125em 0.75em 1.125em 0.75em; }
  .personal .z {
    color: grey;
    font-family: sans-serif;
    padding: 1em 0;
    background-color: #E5E5E5;
    box-sizing: border-box;
    border-top: .1em solid #808080;
    border-right: .1em solid #808080;
    border-left: .1em solid #808080; }
  .personal .last {
    background-color: white;
    border: .1em solid #808080;
    padding: 1em 0; }
    .personal .last div {
      height: 2.1em;
      border: .1em solid black;
      border-radius: 2em;
      line-height: 2em;
      margin: 0 40%;
      box-sizing: border-box;
      font-weight: bold; }
  .personal .green {
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
    padding: 2em 0;
    background-color: #4F8F4F;
    height: 13.8125em; }
    .personal .green p {
      margin: 0; }
      .personal .green p.a {
        font-size: .875em;
        letter-spacing: .25em; }
      .personal .green p.b {
        font-size: 5.5em;
        font-weight: lighter;
        letter-spacing: .05em; }
      .personal .green p.c {
        padding-top: .3em;
        font-size: 1.2em;
        opacity: .5; }

#blue {
  background-color: #2C4985; }

#black {
  background-color: black; }

.getstarted {
  padding: 3.25em 2.5em 0 2.5em;
  text-align: left;
  font-family: sans-serif;
  line-height: 1.5em; }
  .getstarted > .small {
    font-size: 1em; }
  .getstarted > .big {
    font-size: 1.5em;
    line-height: 1.2em; }

footer {
  background-color: black;
  color: grey;
  font-family: sans-serif;
  text-align: center;
  padding: 1.55em 2.5em;
  line-height: 1.5em;
  font-size: 1.2em; }
  footer span {
    color: white;
    text-decoration: underline; }

@media screen and (min-width: 29.9375em) {
  .backgroundpic {
    padding: 8.9em 0; }
    .backgroundpic > div {
      font-size: 3em; }
  header div {
    margin: 0 1.3em; } }

@media screen and (min-width: 48em) {
  .midstuff {
    overflow: hidden; }
    .midstuff .personal {
      box-sizing: border-box;
      width: 33%;
      float: left; }
  .lotstext {
    overflow: hidden; }
    .lotstext .getstarted {
      box-sizing: border-box;
      width: 50%;
      float: left;
      height: 21.25em; }
  .last div {
    width: 4em; } }

@media screen and (min-width: 61.1875em) {
  .midstuff {
    padding: 0 14%; }
  .lotstext {
    padding: 0 14%; } }
